.terraform
terraform.tfstate
terraform.tfstate.backup
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/artifacts
*.swp
