.terraform
.terraform*
.terraform.lock.hcl
ignition.bu
terraform.tfstate
terraform.tfstate.backup
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/artifacts
/override.tf
/terraform.tfvars
terraform.tfstate*
artifacts/
auth/
*.swp
.vscode
assets/cnv/sample/
